header
{
    background-color:white;
    height:70px;width:100%;
    border-bottom: 1px solid #cccccc;
    background-image: url(../images/logo.png);
    background-position: 20px center;
    background-repeat: no-repeat;
}
