.filters
{
    display: flex;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    align-items: center;
}

button
{
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    height: 48px;
    width: 20%;
    margin-left: auto;
}

button:hover
{
    opacity: 90%;
}

.locations, .amenities 
{
    height: 100%;
    width: 25%;
    float: left;
    text-align: left;
}

.locations 
{
    border-right: 1px solid #DDDDDD;
}

h3 
{
    font-weight: 600;
    margin: 15px 50px 3px;
}

h4 
{
    font-weight: 400;
    font-size: 14px;
    margin: 0px 50px 0px;
}
h2
{
    font-size: 16px;
    margin: 0px;
}
.popover 
{
    margin-top: 17px;
    z-index: 1;
    background-color: #FAFAFA;
    color: #484848;
    width: 100%;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    display: block;
    visibility: hidden;
    position: relative;
}

.popover li 
{
    margin: 10px 50px;
}

.locations:hover .popover 
{
    display: block;
    visibility: visible;
}

.filters .amenities:hover .popover {
    display: block;
    visibility: visible;
}
