.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.places h1 {
    font-size: 30px;
    margin: 20px 0px 0px 20px;
    text-align: left;
    flex-basis: 100%;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
}